/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page tokenizerreleasehistory tokenizer Module Release Notes

    @tableofcontents

    @section tokenizer_3_0 tokenizer Module Version 3.0
    - initial release
*/
