/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page mongodbreleasehistory mongodb Module Release Notes

    @tableofcontents

    @section mongodb_3_0 mongodb Module Version 3.0

    Initial release, shipped with %Qore 3.0.

    - Full CRUD support
    - Aggregation pipeline support
    - Cursor-based iteration with
      <tt>MongoCursor&lt;DocT: hash&lt;auto&gt; = hash&lt;auto&gt;&gt;</tt>
    - ObjectId type support
    - BSON to Qore type conversion
*/
