/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page mongodbreleasehistory mongodb Module Release Notes

    @tableofcontents

    @section mongodb_3_0 mongodb Module Version 3.0
    - initial release
*/
