/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page i18nreleasehistory i18n Module Release Notes

    @tableofcontents

    @section i18n_3_0 i18n Module Version 3.0
    - initial release
*/
