/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page dataframereleasehistory dataframe Module Release Notes

    @tableofcontents

    @section dataframe_3_0 dataframe Module Version 3.0
    - initial release
*/
