/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page linenoisereleasehistory linenoise Module Release Notes

    @tableofcontents

    This module is always delivered with %Qore and therefore mirrors the %Qore version.
*/
