{
  "openapi": "3.0.1",
  "info": {
    "version": "2026-09-19.1",
    "title": "Stability AI reviewed REST contract",
    "description": "Welcome to the Stability Platform API. As of March 2024, we are building the REST v2beta API service to be the primary API service for the Stability Platform.\nAll AI services on other APIs (gRPC, REST v1, RESTv2alpha) will continue to be maintained, however they will not receive\nnew features or parameters.\n\nIf you are a REST v2alpha user, we strongly recommend that you adjust the URL calls for the specific services that you are using over to the equivalent REST v2beta URL. Normally, this means simply replacing \"v2alpha\" with \"v2beta\". We are not deprecating v2alpha URLs at this time for users that are currently using them.\n\n#### Authentication\n\nYou will need your [Stability API key](https://platform.stability.ai/account/keys) in order to make requests to this API.\nMake sure you never share your API key with anyone, and you never commit it to a public repository. Include this key in\nthe `Authorization` header of your requests.\n\n#### Rate limiting\n\nThis API is rate-limited to 150 requests every 10 seconds. If you exceed this limit, you will receive a `429` response\nand be timed out for 60 seconds. If you find this limit too restrictive, please reach out to us via [this form](https://kb.stability.ai/knowledge-base/kb-tickets/new).\n\n#### Support\n\nPlease see our [FAQ](https://platform.stability.ai/faq) for answers to common questions. If you have any other questions or concerns,\nplease reach out to us via [this form](https://kb.stability.ai/knowledge-base/kb-tickets/new).\n\nTo see the health of our APIs, please check our [Status Page](https://stabilityai.instatus.com/)."
  },
  "servers": [
    {
      "url": "https://api.stability.ai"
    }
  ],
  "security": [
    {
      "STABILITY_API_KEY": []
    }
  ],
  "tags": [
    {
      "name": "Edit",
      "description": "Tools for editing your own and generated images.\n\n**[Erase](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1erase/post)**\n\nThe Erase service removes unwanted objects, such as blemishes on portraits or items on desks, using image masks.\n\n**[Outpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1outpaint/post)**\n\nThe outpaint service inserts additional content in an image to fill in the space in any direction, allowing you to \"zoom-out\" of an image.\n\n**[Inpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1inpaint/post)**\n\nThe Inpaint service modifies images by filling in or replacing specified areas with new content based on the content of a \"mask\" image.\n\n**[Search and Replace](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-replace/post)**\n\nThe Search and Replace service, similar to inpaint, allows to replace specified areas with new content, but this time with the help of a prompt instead of a mask. The service will automatically segment the object and replace it with the object requested in the prompt.\n\n**[Search and Recolor](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-recolor/post)**\n\nThe Search and Recolor service is another derivative of the inpaint service and provides the ability to change the color of a specific object in an image using a prompt. The Search and Recolor service will automatically segment the object and recolor it using the colors requested in the prompt.\n\n**[Remove Background](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1remove-background/post)**\n\nThe Remove Background service accurately segments the foreground from an image to removes the background."
    },
    {
      "name": "Upscale",
      "description": "Tools for increasing the size and resolution of your existing images.\n\n**[Fast Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1fast/post)**\n\nThis service enhances image resolution by 4x using predictive and generative AI. This lightweight and fast service (processing in ~1 second) is ideal for enhancing the quality of compressed images, making it suitable for social media posts and other applications.\n\n**[Conservative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1conservative/post)**\n\nThis service can upscale images by 20 to 40 times up to a 4 megapixel output image with minimal alteration to the original image. The Conservative Upscaler can upscale images as small as 64x64 pixels directly to a 4 megapixel output. Use this option if you directly need a 4 megapixel output.\n\n**[Creative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1creative/post)**\n\nThe service can upscale highly degraded images (lower than 1 megapixel) with a creative twist to provide high resolution results."
    },
    {
      "name": "Generate",
      "description": "Tools to generate new images from text, or create variations of existing images. Our different services include:\n\n**[Stable Image Ultra](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1ultra/post)**: Photorealistic, Large-Scale Output\n\nOur state of the art text to image model based on Stable Diffusion 3.5. Stable Image Ultra Produces the highest quality, photorealistic outputs perfect for professional print media and large format applications. Stable Image Ultra excels at rendering exceptional detail and realism.\n\n**[Stable Image Core](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1core/post)**: Fast and Affordable\n\nOptimized for fast and aﬀordable image generation, great for rapidly iterating on concepts during ideation. Stable Image Core is the next generation model following Stable Diffusion XL.\n\n**[Stable Diffusion 3.5 Model Suite](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1sd3/post)**: Stability AI's latest base models\n\nThe different versions of our open models are available via API, letting you test and adjust speed and quality based on your use case. All model versions strike a balance between generation speed and output quality and are ideal for creating high-volume, high-quality digital assets like websites, newsletters, and marketing materials."
    },
    {
      "name": "Control",
      "description": "Tools for generating precise, controlled variations of existing images or sketches.\n\n**[Sketch](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1sketch/post)**\n\nThis service upgrades sketches to refined outputs with precise control. For non-sketch images, it allows detailed manipulation of the final appearance by leveraging the contour lines and edges within the image.\n\n**[Structure](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1structure/post)**\n\nThis service excels in generating images by maintaining the structure of an input image, making it especially valuable for advanced content creation scenarios such as recreating scenes or rendering characters from models.\n\n**[Style](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1style/post)**\n\nThis service extracts stylistic elements from an input image (control image) and uses it to guide the creation of an output image based on the prompt. The result is a new image in the same style as the control image."
    },
    {
      "name": "Results",
      "description": "Tools for fetching the results of your async generations."
    },
    {
      "name": "Stable Audio 2",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 2.5**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 3-minute, 44.1 kHz stereo compositions. Stable Audio 2.5 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\n**Stable Audio 2.0**: High-Quality Audio Generation\n\nBuilt for text-to-audio and audio-to-audio generation, also capable of generating up to 3-minute, 44.1 kHz stereo. Stable Audio 2.0 is great for ideation, music demos, and ambient soundscapes. It's optimized for creative professionals seeking detailed and extended outputs from simple prompts.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 2.5 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-2-0).",
      "x-displayName": "Stable Audio 2.5"
    },
    {
      "name": "Stable Audio",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 3.0**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 6-minute, 44.1 kHz stereo compositions. Stable Audio 3.0 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 3.0 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-3-0).",
      "x-displayName": "Stable Audio 3.0"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Stable Image",
      "tags": [
        "Generate",
        "Upscale",
        "Edit",
        "Control",
        "Results"
      ]
    },
    {
      "name": "Audio",
      "tags": [
        "Stable Audio 2",
        "Stable Audio"
      ]
    },
    {
      "name": "3D",
      "tags": [
        "3D"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "STABILITY_API_KEY": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header",
        "description": "Use your [Stability API key](https://platform.stability.ai/account/keys) to authentication requests to this App."
      },
      "V1_STABILITY_API_KEY": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid parameter(s), see the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Your request was larger than 10MiB.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "4212a4b66fbe1cedca4bf2133d35dca5",
              "name": "payload_too_large",
              "errors": [
                "body: payloads cannot be larger than 10MiB in size"
              ]
            }
          }
        }
      },
      "RateLimited": {
        "description": "You have made more than 150 requests in 10 seconds.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "rate_limit_exceeded",
              "name": "rate_limit_exceeded",
              "errors": [
                "You have exceeded the rate limit of 150 requests within a 10 second period, and have been timed out for 60 seconds."
              ]
            }
          }
        }
      },
      "InternalError": {
        "description": "An internal error occurred. If the problem persists [contact support](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "2a1b2d4eafe2bc6ab4cd4d5c6133f513",
              "name": "internal_error",
              "errors": [
                "An unexpected server error has occurred, please try again later."
              ]
            }
          }
        }
      },
      "ContentModerated": {
        "description": "Your request was flagged by our content moderation system.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ContentModerationResponse"
            }
          }
        }
      },
      "GenerationNotFound": {
        "description": "id: the generation either does not exist or has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "2bca35116bc5431d6dc4b4ea2ef3da2f",
              "name": "generation_not_found",
              "errors": [
                "id: the generation either does not exist or has expired."
              ]
            }
          }
        }
      },
      "ImageClassificationFailed": {
        "description": "Your request was well-formed, but rejected. See the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Invalid Language": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "invalid_language",
                  "errors": [
                    "English is the only supported language for this service."
                  ]
                }
              },
              "Public Figure Detected": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "public_figure",
                  "errors": [
                    "Our system detected the likeness of a public figure in your image. To comply with our guidelines, this request cannot be processed. Please upload a different image."
                  ]
                }
              }
            }
          }
        }
      },
      "AudioClassificationFailed": {
        "description": "Your request was well-formed, but rejected. See the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Invalid Language": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "invalid_language",
                  "errors": [
                    "English is the only supported language for this service."
                  ]
                }
              },
              "Copyrighted Content Detected": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "copyrighted_content",
                  "errors": [
                    "Our system has detected the presence of copyrighted content in your audio. To comply with our guidelines, we cannot process this request. Please upload a different audio file."
                  ]
                }
              }
            }
          }
        }
      },
      "ImageGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "AudioGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated audio.\n\n To receive the bytes of the audio directly, specify `audio/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "mpeg": {
                "description": "raw bytes",
                "value": "audio/mpeg"
              },
              "mpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=audio/mpeg"
              },
              "wav": {
                "description": "raw bytes",
                "value": "audio/wav"
              },
              "wavJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=audio/wav"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/AudioFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "audio/mpeg": {
            "example": "The bytes of the generated mpeg",
            "schema": {
              "$ref": "#/components/schemas/AudioBinaryResponse"
            }
          },
          "application/json; type=audio/mpeg": {
            "schema": {
              "$ref": "#/components/schemas/AudioJSONResponse"
            }
          },
          "audio/wav": {
            "example": "The bytes of the generated wav",
            "schema": {
              "$ref": "#/components/schemas/AudioBinaryResponse"
            }
          },
          "application/json; type=audio/wav": {
            "schema": {
              "$ref": "#/components/schemas/AudioJSONResponse"
            }
          }
        }
      },
      "ImageInpaintSuccess": {
        "description": "Inpainting was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "ImageUpscaleSuccess": {
        "description": "Upscale was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "ModelGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "content-type": {
            "description": "The format of the 3D model.",
            "schema": {
              "type": "string",
              "example": "model/gltf-binary"
            }
          }
        },
        "content": {
          "model/gltf-binary": {
            "schema": {
              "$ref": "#/components/schemas/ModelBinaryResponse"
            }
          }
        }
      },
      "V1_401": {
        "description": "unauthorized: API key missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V1_Error"
            },
            "example": {
              "id": "9160aa70-222f-4a36-9eb7-475e2668362a",
              "name": "unauthorized",
              "message": "missing authorization header"
            }
          }
        }
      },
      "V1_403": {
        "description": "permission_denied: You lack the necessary permissions to perform this action",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V1_Error"
            },
            "example": {
              "id": "5cf19777-d17f-49fe-9bd9-39ff0ec6bb50",
              "name": "permission_denied",
              "message": "You do not have permission to access this resource"
            }
          }
        }
      },
      "V1_404": {
        "description": "not_found: The requested resource/engine was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V1_Error"
            },
            "example": {
              "id": "92b19e7f-22a2-4e71-a821-90edda229293",
              "name": "not_found",
              "message": "The specified engine (ID some-fake-engine) was not found."
            }
          }
        }
      },
      "V1_500": {
        "description": "server_error: Some unexpected server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V1_Error"
            },
            "example": {
              "id": "f81964d6-619b-453e-97bc-9fd7ac3f04e7",
              "name": "server_error",
              "message": "An unexpected server error occurred, please try again."
            }
          }
        }
      },
      "V1_GenerationResponse": {
        "description": "Generation successful.",
        "content": {
          "application/json": {
            "schema": {
              "description": "An array of results from the generation request, where each image is a base64 encoded PNG.",
              "type": "object",
              "properties": {
                "artifacts": {
                  "type": "array",
                  "x-go-type-skip-optional-pointer": true,
                  "items": {
                    "$ref": "#/components/schemas/V1_Image"
                  }
                }
              }
            }
          },
          "image/png": {
            "example": "The bytes of the generated image, what did you expect?",
            "schema": {
              "description": "The bytes of the generated PNG image",
              "format": "binary",
              "type": "string"
            }
          }
        },
        "headers": {
          "Content-Length": {
            "$ref": "#/components/headers/V1_Content-Length"
          },
          "Content-Type": {
            "$ref": "#/components/headers/V1_Content-Type"
          },
          "Finish-Reason": {
            "$ref": "#/components/headers/V1_Finish-Reason"
          },
          "Seed": {
            "$ref": "#/components/headers/V1_Seed"
          }
        }
      },
      "V1_400FromGeneration": {
        "description": "bad_request: one or more parameters were invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V1_Error"
            },
            "example": {
              "id": "296a972f-666a-44a1-a3df-c9c28a1f56c0",
              "name": "bad_request",
              "message": "init_image: is required"
            }
          }
        }
      }
    },
    "headers": {
      "RequestID": {
        "description": "A unique identifier for this request.",
        "schema": {
          "type": "string"
        }
      },
      "ImageFinishReason": {
        "schema": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "CONTENT_FILTERED"
          ]
        },
        "description": "Indicates the reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`."
      },
      "AudioFinishReason": {
        "schema": {
          "type": "string",
          "enum": [
            "SUCCESS"
          ]
        },
        "description": "Indicates the reason the generation finished. It is always `SUCCESS` for this endpoint.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`."
      },
      "Seed": {
        "description": "The seed used as random noise for this generation.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.",
        "example": "343940597",
        "schema": {
          "type": "string"
        }
      },
      "V1_Content-Length": {
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "V1_Content-Type": {
        "required": true,
        "schema": {
          "enum": [
            "application/json",
            "image/png"
          ],
          "type": "string"
        }
      },
      "V1_Finish-Reason": {
        "schema": {
          "$ref": "#/components/schemas/V1_FinishReason"
        }
      },
      "V1_Seed": {
        "example": 3817857576,
        "schema": {
          "example": 787078103,
          "type": "integer"
        },
        "description": "The seed used to generate the image.  This header is only present when the `Accept` is set to `image/png`.  Otherwise it is returned in the response body."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
            "example": "bad_request"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "One or more error messages indicating what went wrong.",
            "example": [
              "some-field: is required"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "errors"
        ]
      },
      "ContentModerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Our content moderation system has flagged some part of your request and subsequently denied it.  You were not charged for this request.  While this may at times be frustrating, it is necessary to maintain the integrity of our platform and ensure a safe experience for all users.\n\nIf you would like to provide feedback, please use the [Support Form](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
            "enum": [
              "content_moderation"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "One or more error messages indicating what went wrong.",
            "example": [
              "some-field: is required"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "errors"
        ],
        "description": "Your request was flagged by our content moderation system.",
        "example": {
          "id": "ed14db44362126aab3cbd25cca51ffe3",
          "name": "content_moderation",
          "errors": [
            "Your request was flagged by our content moderation system, as a result your request was denied and you were not charged."
          ]
        }
      },
      "Seed": {
        "type": "integer",
        "minimum": 0,
        "maximum": 4294967294,
        "default": 0,
        "description": "A specific value that is used to guide the 'randomness' of the generation. (Omit this parameter or pass `0` to use a random seed.)"
      },
      "ImageBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated image.\n\nThe `finish-reason` and `seed` will be present as headers.",
        "format": "binary"
      },
      "ImageJSONResponse": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "The generated image, encoded to base64.",
            "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
          },
          "seed": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Seed"
              },
              {
                "description": "The seed used as random noise for this generation.",
                "example": 343940597
              }
            ]
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "CONTENT_FILTERED"
            ],
            "description": "The reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.",
            "example": "SUCCESS"
          }
        },
        "required": [
          "image",
          "finish_reason"
        ]
      },
      "AudioBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated audio.\n\nThe `finish-reason` and `seed` will be present as headers.",
        "format": "binary"
      },
      "AudioJSONResponse": {
        "type": "object",
        "properties": {
          "audio": {
            "type": "string",
            "description": "The generated audio, encoded to base64.",
            "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
          },
          "seed": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Seed"
              },
              {
                "description": "The seed used as random noise for this generation.",
                "example": 343940597
              }
            ]
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "SUCCESS"
            ],
            "description": "The reason the generation finished. It is always `SUCCESS` for this endpoint.",
            "example": "SUCCESS"
          }
        },
        "required": [
          "audio",
          "finish_reason"
        ]
      },
      "ModelBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated 3D model.",
        "format": "binary"
      },
      "GenerationID": {
        "type": "string",
        "minLength": 64,
        "maxLength": 64,
        "description": "The `id` of a generation, typically used for async generations, that can be used to check the status of the generation or retrieve the result.",
        "example": "a6dc6c6e20acda010fe14d71f180658f2896ed9b4ec25aa99a6ff06c796987c4"
      },
      "AsyncGenerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/GenerationID"
          }
        },
        "required": [
          "id"
        ]
      },
      "Prompt": {
        "type": "string",
        "minLength": 1,
        "maxLength": 10000,
        "description": "What you wish to see in the output image. A strong, descriptive prompt that clearly defines\nelements, colors, and subjects will lead to better results.\n\nTo control the weight of a given word use the format `(word:weight)`,\nwhere `word` is the word you'd like to control the weight of and `weight`\nis a value between 0 and 1. For example: `The sky was a crisp (blue:0.3) and (green:0.8)`\nwould convey a sky that was blue and green, but more green than blue."
      },
      "NegativePrompt": {
        "type": "string",
        "maxLength": 10000,
        "description": "A blurb of text describing what you **do not** wish to see in the output image.\nThis is an advanced feature."
      },
      "StylePreset": {
        "type": "string",
        "enum": [
          "enhance",
          "anime",
          "photographic",
          "digital-art",
          "comic-book",
          "fantasy-art",
          "line-art",
          "analog-film",
          "neon-punk",
          "isometric",
          "low-poly",
          "origami",
          "modeling-compound",
          "cinematic",
          "3d-model",
          "pixel-art",
          "tile-texture"
        ],
        "description": "Guides the image model towards a particular style."
      },
      "AudioPrompt": {
        "type": "string",
        "maxLength": 10000,
        "description": "What you wish the output audio to be. A strong, descriptive prompt that clearly defines\ninstruments, moods, styles, and genre will lead to better results.\n\nYou can make a prompt as simple or complex as you like. Simple prompts are good for clean\noutput audio. Complex prompts are good for adding texture and depth to the output audio."
      },
      "Creativity": {
        "type": "number",
        "minimum": 0.2,
        "maximum": 0.5,
        "default": 0.35,
        "description": "Controls the likelihood of creating additional details not heavily conditioned by the init image."
      },
      "AspectRatio": {
        "type": "string",
        "enum": [
          "21:9",
          "16:9",
          "3:2",
          "5:4",
          "1:1",
          "4:5",
          "2:3",
          "9:16",
          "9:21"
        ],
        "default": "1:1",
        "description": "Controls the aspect ratio of the generated image."
      },
      "V1_Engine": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-go-name": "ID",
            "description": "Unique identifier for the engine",
            "example": "stable-diffusion-xl-1024-v1-0"
          },
          "name": {
            "type": "string",
            "description": "Name of the engine",
            "example": "Stable Diffusion XL v1.0"
          },
          "type": {
            "type": "string",
            "description": "The type of content this engine produces",
            "example": "PICTURE",
            "enum": [
              "AUDIO",
              "CLASSIFICATION",
              "PICTURE",
              "STORAGE",
              "TEXT",
              "VIDEO"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type"
        ]
      },
      "V1_Error": {
        "type": "object",
        "x-go-name": "RESTError",
        "properties": {
          "id": {
            "x-go-name": "ID",
            "type": "string",
            "description": "A unique identifier for this particular occurrence of the problem.",
            "example": "296a972f-666a-44a1-a3df-c9c28a1f56c0"
          },
          "name": {
            "type": "string",
            "description": "The short-name of this class of errors e.g. `bad_request`.",
            "example": "bad_request"
          },
          "message": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem.",
            "example": "Header parameter Authorization is required, but not found"
          }
        },
        "required": [
          "name",
          "id",
          "message"
        ]
      },
      "V1_CfgScale": {
        "type": "number",
        "description": "How strictly the diffusion process adheres to the prompt text (higher values keep your image closer to your prompt)",
        "default": 7,
        "example": 7,
        "minimum": 0,
        "maximum": 35
      },
      "V1_ClipGuidancePreset": {
        "type": "string",
        "default": "NONE",
        "example": "FAST_BLUE",
        "enum": [
          "FAST_BLUE",
          "FAST_GREEN",
          "NONE",
          "SIMPLE",
          "SLOW",
          "SLOWER",
          "SLOWEST"
        ]
      },
      "V1_DiffuseImageHeight": {
        "x-go-type": "uint64",
        "type": "integer",
        "description": "Height of the image to generate, in pixels, in an increment divisible by 64.",
        "multipleOf": 64,
        "default": 512,
        "example": 512,
        "minimum": 128
      },
      "V1_DiffuseImageWidth": {
        "x-go-type": "uint64",
        "type": "integer",
        "description": "Width of the image to generate, in pixels, in an increment divisible by 64.",
        "multipleOf": 64,
        "default": 512,
        "example": 512,
        "minimum": 128
      },
      "V1_Sampler": {
        "type": "string",
        "description": "Which sampler to use for the diffusion process. If this value is omitted we'll automatically select an appropriate sampler for you.",
        "example": "K_DPM_2_ANCESTRAL",
        "enum": [
          "DDIM",
          "DDPM",
          "K_DPMPP_2M",
          "K_DPMPP_2S_ANCESTRAL",
          "K_DPM_2",
          "K_DPM_2_ANCESTRAL",
          "K_EULER",
          "K_EULER_ANCESTRAL",
          "K_HEUN",
          "K_LMS"
        ]
      },
      "V1_Samples": {
        "x-go-type": "uint64",
        "type": "integer",
        "description": "Number of images to generate",
        "default": 1,
        "example": 1,
        "minimum": 1,
        "maximum": 10
      },
      "V1_Seed": {
        "type": "integer",
        "x-go-type": "uint32",
        "description": "Random noise seed (omit this option or use `0` for a random seed)",
        "default": 0,
        "example": 0,
        "minimum": 0,
        "maximum": 4294967295
      },
      "V1_Steps": {
        "x-go-type": "uint64",
        "type": "integer",
        "description": "Number of diffusion steps to run.",
        "default": 30,
        "example": 50,
        "minimum": 10,
        "maximum": 50
      },
      "V1_Extras": {
        "type": "object",
        "description": "Extra parameters passed to the engine.\nThese parameters are used for in-development or experimental features and may change\nwithout warning, so please use with caution."
      },
      "V1_StylePreset": {
        "type": "string",
        "enum": [
          "enhance",
          "anime",
          "photographic",
          "digital-art",
          "comic-book",
          "fantasy-art",
          "line-art",
          "analog-film",
          "neon-punk",
          "isometric",
          "low-poly",
          "origami",
          "modeling-compound",
          "cinematic",
          "3d-model",
          "pixel-art",
          "tile-texture"
        ],
        "description": "Pass in a style preset to guide the image model towards a particular style.\nThis list of style presets is subject to change."
      },
      "V1_TextPrompt": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The prompt itself",
            "example": "A lighthouse on a cliff",
            "maxLength": 2000
          },
          "weight": {
            "type": "number",
            "description": "Weight of the prompt (use negative numbers for negative prompts)",
            "example": 0.8167237,
            "format": "float"
          }
        },
        "description": "Text prompt for image generation",
        "required": [
          "text"
        ]
      },
      "V1_TextPromptsForTextToImage": {
        "title": "TextPrompts",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/V1_TextPrompt"
        },
        "minItems": 1,
        "description": "An array of text prompts to use for generation.\n\nGiven a text prompt with the text `A lighthouse on a cliff` and a weight of `0.5`, it would be represented as:\n\n```\n\"text_prompts\": [\n  {\n    \"text\": \"A lighthouse on a cliff\",\n    \"weight\": 0.5\n  }\n]\n```"
      },
      "V1_TextPrompts": {
        "description": "An array of text prompts to use for generation.\n\nDue to how arrays are represented in `multipart/form-data` requests, prompts must adhere to the format `text_prompts[index][text|weight]`,\nwhere `index` is some integer used to tie the text and weight together.  While `index` does not have to be sequential, duplicate entries \nwill override previous entries, so it is recommended to use sequential indices.\n\nGiven a text prompt with the text `A lighthouse on a cliff` and a weight of `0.5`, it would be represented as:\n```\ntext_prompts[0][text]: \"A lighthouse on a cliff\"\ntext_prompts[0][weight]: 0.5\n```\n\nTo add another prompt to that request simply provide the values under a new `index`:\n\n```\ntext_prompts[0][text]: \"A lighthouse on a cliff\"\ntext_prompts[0][weight]: 0.5\ntext_prompts[1][text]: \"land, ground, dirt, grass\"\ntext_prompts[1][weight]: -0.9\n```",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/V1_TextPrompt"
        },
        "minItems": 1
      },
      "V1_InitImage": {
        "x-go-type": "[]byte",
        "type": "string",
        "description": "Image used to initialize the diffusion process, in lieu of random noise.",
        "example": "<image binary>",
        "format": "binary"
      },
      "V1_InitImageStrength": {
        "type": "number",
        "description": "How much influence the `init_image` has on the diffusion process. Values close to `1` will yield images very similar to the `init_image` while values close to `0` will yield images wildly different than the `init_image`. The behavior of this is meant to mirror DreamStudio's \"Image Strength\" slider.  <br/> <br/> This parameter is just an alternate way to set `step_schedule_start`, which is done via the calculation `1 - image_strength`. For example, passing in an Image Strength of 35% (`0.35`) would result in a `step_schedule_start` of `0.65`.\n",
        "example": 0.4,
        "minimum": 0,
        "maximum": 1,
        "format": "float",
        "default": 0.35
      },
      "V1_InitImageMode": {
        "type": "string",
        "description": "Whether to use `image_strength` or `step_schedule_*` to control how much influence the `init_image` has on the result.",
        "enum": [
          "IMAGE_STRENGTH",
          "STEP_SCHEDULE"
        ],
        "default": "IMAGE_STRENGTH"
      },
      "V1_StepScheduleStart": {
        "type": "number",
        "description": "Skips a proportion of the start of the diffusion steps, allowing the init_image to influence the final generated image.  Lower values will result in more influence from the init_image, while higher values will result in more influence from the diffusion steps.  (e.g. a value of `0` would simply return you the init_image, where a value of `1` would return you a completely different image.)",
        "default": 0.65,
        "example": 0.4,
        "minimum": 0,
        "maximum": 1
      },
      "V1_StepScheduleEnd": {
        "type": "number",
        "description": "Skips a proportion of the end of the diffusion steps, allowing the init_image to influence the final generated image.  Lower values will result in more influence from the init_image, while higher values will result in more influence from the diffusion steps.",
        "example": 0.01,
        "minimum": 0,
        "maximum": 1
      },
      "V1_MaskImage": {
        "x-go-type": "[]byte",
        "type": "string",
        "description": "Optional grayscale mask that allows for influence over which pixels are eligible for diffusion and at what strength. Must be the same dimensions as the `init_image`. Use the `mask_source` option to specify whether the white or black pixels should be inpainted.",
        "example": "<image binary>",
        "format": "binary"
      },
      "V1_MaskSource": {
        "type": "string",
        "description": "For any given pixel, the mask determines the strength of generation on a linear scale.  This parameter determines where to source the mask from:\n- `MASK_IMAGE_WHITE` will use the white pixels of the mask_image as the mask, where white pixels are completely replaced and black pixels are unchanged\n- `MASK_IMAGE_BLACK` will use the black pixels of the mask_image as the mask, where black pixels are completely replaced and white pixels are unchanged\n- `INIT_IMAGE_ALPHA` will use the alpha channel of the init_image as the mask, where fully transparent pixels are completely replaced and fully opaque pixels are unchanged",
        "enum": [
          "MASK_IMAGE_WHITE",
          "MASK_IMAGE_BLACK",
          "INIT_IMAGE_ALPHA"
        ]
      },
      "V1_GenerationRequestOptionalParams": {
        "type": "object",
        "description": "Represents the optional parameters that can be passed to any generation request.",
        "properties": {
          "cfg_scale": {
            "$ref": "#/components/schemas/V1_CfgScale"
          },
          "clip_guidance_preset": {
            "$ref": "#/components/schemas/V1_ClipGuidancePreset"
          },
          "sampler": {
            "$ref": "#/components/schemas/V1_Sampler"
          },
          "samples": {
            "$ref": "#/components/schemas/V1_Samples"
          },
          "seed": {
            "$ref": "#/components/schemas/V1_Seed"
          },
          "steps": {
            "$ref": "#/components/schemas/V1_Steps"
          },
          "style_preset": {
            "$ref": "#/components/schemas/V1_StylePreset"
          },
          "extras": {
            "$ref": "#/components/schemas/V1_Extras"
          }
        }
      },
      "V1_ImageToImageRequestBody": {
        "type": "object",
        "properties": {
          "text_prompts": {
            "$ref": "#/components/schemas/V1_TextPrompts"
          },
          "init_image": {
            "$ref": "#/components/schemas/V1_InitImage"
          },
          "init_image_mode": {
            "$ref": "#/components/schemas/V1_InitImageMode"
          },
          "image_strength": {
            "$ref": "#/components/schemas/V1_InitImageStrength"
          },
          "step_schedule_start": {
            "$ref": "#/components/schemas/V1_StepScheduleStart"
          },
          "step_schedule_end": {
            "$ref": "#/components/schemas/V1_StepScheduleEnd"
          },
          "cfg_scale": {
            "$ref": "#/components/schemas/V1_CfgScale"
          },
          "clip_guidance_preset": {
            "$ref": "#/components/schemas/V1_ClipGuidancePreset"
          },
          "sampler": {
            "$ref": "#/components/schemas/V1_Sampler"
          },
          "samples": {
            "$ref": "#/components/schemas/V1_Samples"
          },
          "seed": {
            "$ref": "#/components/schemas/V1_Seed"
          },
          "steps": {
            "$ref": "#/components/schemas/V1_Steps"
          },
          "style_preset": {
            "$ref": "#/components/schemas/V1_StylePreset"
          },
          "extras": {
            "$ref": "#/components/schemas/V1_Extras"
          }
        },
        "required": [
          "text_prompts",
          "init_image"
        ],
        "discriminator": {
          "propertyName": "init_image_mode",
          "mapping": {
            "IMAGE_STRENGTH": "#/components/schemas/V1_ImageToImageUsingImageStrengthRequestBody",
            "STEP_SCHEDULE": "#/components/schemas/V1_ImageToImageUsingStepScheduleRequestBody"
          }
        }
      },
      "V1_ImageToImageUsingImageStrengthRequestBody": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "text_prompts": {
                "$ref": "#/components/schemas/V1_TextPrompts"
              },
              "init_image": {
                "$ref": "#/components/schemas/V1_InitImage"
              },
              "init_image_mode": {
                "$ref": "#/components/schemas/V1_InitImageMode"
              },
              "image_strength": {
                "$ref": "#/components/schemas/V1_InitImageStrength"
              }
            },
            "required": [
              "text_prompts",
              "init_image"
            ]
          },
          {
            "$ref": "#/components/schemas/V1_GenerationRequestOptionalParams"
          }
        ]
      },
      "V1_ImageToImageUsingStepScheduleRequestBody": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "text_prompts": {
                "$ref": "#/components/schemas/V1_TextPrompts"
              },
              "init_image": {
                "$ref": "#/components/schemas/V1_InitImage"
              },
              "init_image_mode": {
                "$ref": "#/components/schemas/V1_InitImageMode"
              },
              "step_schedule_start": {
                "$ref": "#/components/schemas/V1_StepScheduleStart"
              },
              "step_schedule_end": {
                "$ref": "#/components/schemas/V1_StepScheduleEnd"
              }
            },
            "required": [
              "text_prompts",
              "init_image"
            ]
          },
          {
            "$ref": "#/components/schemas/V1_GenerationRequestOptionalParams"
          }
        ]
      },
      "V1_MaskingRequestBody": {
        "type": "object",
        "properties": {
          "init_image": {
            "$ref": "#/components/schemas/V1_InitImage"
          },
          "mask_source": {
            "$ref": "#/components/schemas/V1_MaskSource"
          },
          "mask_image": {
            "$ref": "#/components/schemas/V1_MaskImage"
          },
          "text_prompts": {
            "$ref": "#/components/schemas/V1_TextPrompts"
          },
          "cfg_scale": {
            "$ref": "#/components/schemas/V1_CfgScale"
          },
          "clip_guidance_preset": {
            "$ref": "#/components/schemas/V1_ClipGuidancePreset"
          },
          "sampler": {
            "$ref": "#/components/schemas/V1_Sampler"
          },
          "samples": {
            "$ref": "#/components/schemas/V1_Samples"
          },
          "seed": {
            "$ref": "#/components/schemas/V1_Seed"
          },
          "steps": {
            "$ref": "#/components/schemas/V1_Steps"
          },
          "style_preset": {
            "$ref": "#/components/schemas/V1_StylePreset"
          },
          "extras": {
            "$ref": "#/components/schemas/V1_Extras"
          }
        },
        "required": [
          "text_prompts",
          "init_image",
          "mask_source"
        ],
        "discriminator": {
          "propertyName": "mask_source",
          "mapping": {
            "MASK_IMAGE_BLACK": "#/components/schemas/V1_MaskingUsingMaskImageRequestBody",
            "MASK_IMAGE_WHITE": "#/components/schemas/V1_MaskingUsingMaskImageRequestBody",
            "INIT_IMAGE_ALPHA": "#/components/schemas/V1_MaskingUsingInitImageAlphaRequestBody"
          }
        }
      },
      "V1_MaskingUsingMaskImageRequestBody": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "text_prompts": {
                "$ref": "#/components/schemas/V1_TextPrompts"
              },
              "init_image": {
                "$ref": "#/components/schemas/V1_InitImage"
              },
              "mask_source": {
                "$ref": "#/components/schemas/V1_MaskSource"
              },
              "mask_image": {
                "$ref": "#/components/schemas/V1_MaskImage"
              }
            },
            "required": [
              "init_image",
              "mask_image",
              "text_prompts",
              "mask_source"
            ]
          },
          {
            "$ref": "#/components/schemas/V1_GenerationRequestOptionalParams"
          }
        ]
      },
      "V1_MaskingUsingInitImageAlphaRequestBody": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "text_prompts": {
                "$ref": "#/components/schemas/V1_TextPrompts"
              },
              "init_image": {
                "$ref": "#/components/schemas/V1_InitImage"
              },
              "mask_source": {
                "$ref": "#/components/schemas/V1_MaskSource"
              }
            },
            "required": [
              "init_image",
              "text_prompts",
              "mask_source"
            ]
          },
          {
            "$ref": "#/components/schemas/V1_GenerationRequestOptionalParams"
          }
        ]
      },
      "V1_TextToImageRequestBody": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "height": {
                "$ref": "#/components/schemas/V1_DiffuseImageHeight"
              },
              "width": {
                "$ref": "#/components/schemas/V1_DiffuseImageWidth"
              },
              "text_prompts": {
                "$ref": "#/components/schemas/V1_TextPromptsForTextToImage"
              }
            },
            "required": [
              "text_prompts"
            ]
          },
          {
            "$ref": "#/components/schemas/V1_GenerationRequestOptionalParams"
          }
        ],
        "example": {
          "cfg_scale": 7,
          "height": 512,
          "width": 512,
          "sampler": "K_DPM_2_ANCESTRAL",
          "samples": 1,
          "seed": 0,
          "steps": 30,
          "text_prompts": [
            {
              "text": "A lighthouse on a cliff",
              "weight": 1
            }
          ]
        },
        "required": [
          "text_prompts"
        ]
      },
      "V1_AccountResponseBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The user's email",
            "example": "example@stability.ai",
            "format": "email"
          },
          "id": {
            "type": "string",
            "description": "The user's ID",
            "example": "user-1234",
            "x-go-name": "ID"
          },
          "organizations": {
            "type": "array",
            "example": [
              {
                "id": "org-5678",
                "name": "Another Organization",
                "role": "MEMBER",
                "is_default": true
              },
              {
                "id": "org-1234",
                "name": "My Organization",
                "role": "MEMBER",
                "is_default": false
              }
            ],
            "items": {
              "$ref": "#/components/schemas/V1_OrganizationMembership"
            },
            "description": "The user's organizations"
          },
          "profile_picture": {
            "type": "string",
            "description": "The user's profile picture",
            "example": "https://api.stability.ai/example.png",
            "format": "uri"
          }
        },
        "required": [
          "id",
          "email",
          "organizations"
        ]
      },
      "V1_BalanceResponseBody": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number",
            "description": "The balance of the account/organization associated with the API key",
            "example": 0.41122252265928866,
            "format": "double"
          }
        },
        "example": {
          "credits": 0.07903292496944721
        },
        "required": [
          "credits"
        ]
      },
      "V1_ListEnginesResponseBody": {
        "type": "array",
        "description": "The engines available to your user/organization",
        "items": {
          "$ref": "#/components/schemas/V1_Engine"
        },
        "example": [
          {
            "description": "Stability-AI Stable Diffusion XL v1.0",
            "id": "stable-diffusion-xl-1024-v1-0",
            "name": "Stable Diffusion XL v1.0",
            "type": "PICTURE"
          }
        ]
      },
      "V1_FinishReason": {
        "type": "string",
        "description": "The result of the generation process.\n- `SUCCESS` indicates success\n- `ERROR` indicates an error\n- `CONTENT_FILTERED` indicates the result affected by the content filter and may be blurred.\n\nThis header is only present when the `Accept` is set to `image/png`.  Otherwise it is returned in the response body.",
        "enum": [
          "SUCCESS",
          "ERROR",
          "CONTENT_FILTERED"
        ]
      },
      "V1_Image": {
        "type": "object",
        "properties": {
          "base64": {
            "type": "string",
            "x-go-type-skip-optional-pointer": true,
            "description": "Image encoded in base64"
          },
          "finishReason": {
            "type": "string",
            "x-go-type-skip-optional-pointer": true,
            "example": "CONTENT_FILTERED",
            "enum": [
              "SUCCESS",
              "ERROR",
              "CONTENT_FILTERED"
            ]
          },
          "seed": {
            "type": "number",
            "x-go-type-skip-optional-pointer": true,
            "description": "The seed associated with this image",
            "example": 1229191277
          }
        },
        "example": [
          {
            "base64": "...very long string...",
            "finishReason": "SUCCESS",
            "seed": 1050625087
          },
          {
            "base64": "...very long string...",
            "finishReason": "CONTENT_FILTERED",
            "seed": 1229191277
          }
        ]
      },
      "V1_OrganizationMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org-123456",
            "x-go-name": "ID"
          },
          "is_default": {
            "type": "boolean",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "My Organization"
          },
          "role": {
            "type": "string",
            "example": "MEMBER"
          }
        },
        "required": [
          "id",
          "name",
          "role",
          "is_default"
        ]
      }
    },
    "parameters": {
      "Authorization": {
        "schema": {
          "type": "string",
          "description": "Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.",
          "minLength": 1
        },
        "required": true,
        "name": "authorization",
        "in": "header"
      },
      "AcceptImage": {
        "schema": {
          "type": "string",
          "default": "image/*",
          "description": "Specify `image/*` to receive the bytes of the image directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
          "enum": [
            "image/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "AcceptAudio": {
        "schema": {
          "type": "string",
          "default": "audio/*",
          "description": "Specify `audio/*` to receive the bytes of the audio directly. Otherwise specify `application/json` to receive the audio as base64 encoded JSON.",
          "enum": [
            "audio/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "AcceptResult": {
        "schema": {
          "type": "string",
          "default": "*/*",
          "description": "Specify `*/*` to receive the bytes of the result directly. Otherwise specify `application/json` to receive the result as base64 encoded JSON.",
          "enum": [
            "*/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "StabilityClientID": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "The name of your application, used to help us communicate app-specific debugging or moderation issues to you.",
          "example": "my-awesome-app"
        },
        "required": false,
        "name": "stability-client-id",
        "in": "header"
      },
      "StabilityClientUserID": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "A unique identifier for your end user. Used to help us communicate user-specific debugging or moderation issues to you. Feel free to obfuscate this value to protect user privacy.",
          "example": "DiscordUser#9999"
        },
        "required": false,
        "name": "stability-client-user-id",
        "in": "header"
      },
      "StabilityClientVersion": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "The version of your application, used to help us communicate version-specific debugging or moderation issues to you.",
          "example": "1.2.1"
        },
        "required": false,
        "name": "stability-client-version",
        "in": "header"
      },
      "V1_engineID": {
        "examples": {
          "default": {
            "value": "stable-diffusion-xl-1024-v1-0",
            "description": "Stable Diffusion XL v1.0"
          }
        },
        "in": "path",
        "name": "engine_id",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "V1_organization": {
        "allowEmptyValue": false,
        "description": "Allows for requests to be scoped to an organization other than the user's default.  If not provided, the user's default organization will be used.",
        "example": "org-123456",
        "in": "header",
        "name": "Organization",
        "x-go-name": "OrganizationID",
        "schema": {
          "type": "string"
        }
      },
      "V1_stabilityClientID": {
        "allowEmptyValue": false,
        "description": "Used to identify the source of requests, such as the client application or sub-organization. Optional, but recommended for organizational clarity.",
        "example": "my-great-plugin",
        "in": "header",
        "name": "Stability-Client-ID",
        "schema": {
          "type": "string"
        }
      },
      "V1_stabilityClientVersion": {
        "allowEmptyValue": false,
        "description": "Used to identify the version of the application or service making the requests. Optional, but recommended for organizational clarity.",
        "example": "1.2.1",
        "in": "header",
        "name": "Stability-Client-Version",
        "schema": {
          "type": "string"
        }
      },
      "V1_accept": {
        "allowEmptyValue": false,
        "in": "header",
        "name": "Accept",
        "description": "The format of the response.  Leave blank for JSON, or set to 'image/png' for a PNG image.",
        "schema": {
          "default": "application/json",
          "enum": [
            "application/json",
            "image/png"
          ],
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/v2beta/3d/stable-fast-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Stable Fast 3D",
        "description": "Stable Fast 3D generates high-quality 3D assets from a single 2D input image.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to [![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_3D_API.ipynb)\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`.\n\nThe body of the request should include:\n- `image`\n\nThe body may optionally include:\n- `texture_resolution`\n- `foreground_ratio`\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Output\nThe output is a binary blob that includes a glTF asset, including JSON, buffers, and images.\nSee the [GLB File Format Specification](https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html#glb-file-format-specification) for more details.\n\n### Credits\nFlat rate of 10 credits per successful generation. You will not be charged for failed generations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image to generate a 3D model from.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 4,194,304 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "texture_resolution": {
                    "type": "string",
                    "enum": [
                      "512",
                      "1024",
                      "2048"
                    ],
                    "default": "1024",
                    "description": "Determines the resolution of the textures used for both the albedo (color) map\nand the normal map. The resolution is specified in pixels, and a higher value\ncorresponds to a higher level of detail in the textures, allowing for more\nintricate and precise rendering of surfaces. However, increasing the resolution\nalso results in larger asset sizes, which may impact loading times and\nperformance. 1024 is a good default value and rarely requires changing."
                  },
                  "foreground_ratio": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 1,
                    "default": 0.85,
                    "description": "Controls the amount of padding around the object to be processed within the frame.\nThis ratio determines the relative size of the object compared to the total frame\nsize. A higher ratio means less padding and a larger object, while a lower ratio\nincreases the padding, effectively reducing the object’s size within the frame. This\ncan be useful when a long and narrow object, such as a car or bus, is viewed from the\nfront (the narrow side). Here, lowering the foreground ratio might help prevent the\ngenerated 3D assets from appearing squished or distorted. The default value of 0.85\nis good for most objects."
                  },
                  "remesh": {
                    "type": "string",
                    "enum": [
                      "none",
                      "triangle",
                      "quad"
                    ],
                    "default": "none",
                    "description": "Controls the remeshing algorithm used to generate the 3D model. The remeshing\nalgorithm determines how the 3D model is constructed from the input image. The\ndefault value of \"none\" means that the model is generated without remeshing,\nwhich is suitable for most use cases. The \"triangle\" option generates a model\nwith triangular faces, while the \"quad\" option generates a model with quadrilateral\nfaces. The \"quad\" option is useful when the 3D model will be used in DCC tools such\nas Maya or Blender."
                  },
                  "vertex_count": {
                    "type": "number",
                    "minimum": -1,
                    "maximum": 20000,
                    "default": -1,
                    "description": "If specified, the result will have approximately this many vertices (and consequently fewer faces) in the simplified mesh.\n\nSetting this value to -1 (the default value) means that a limit is not set."
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ModelGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/3d/stable-point-aware-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Stable Point Aware 3D",
        "description": "Stable Point Aware 3D (SPAR3D) can make real-time edits and create the complete structure\nof a 3D object from a single image in a few seconds. SPAR3D combines the strengths of\npoint-cloud diffusion (probabilistic) and mesh regression (deterministic) to have improved\ndetails on the unseen back regions in the input image.\n\nCompared to our previous model [Stable Fast 3D](#tag/3D/paths/~1v2beta~13d~1stable-fast-3d/post), this new\none allows editing of backside information using the point cloud representation and also\nleverages a larger Diffusion model to generally improve the depth and backside\npredictions.\n\nRead more about the model capabilities [here](https://bit.ly/4h7cpgF).\n\nThis API is currently in\npreview. Please don’t hesitate to [contact us](https://stability.ai/contact) with any questions.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to [![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_3D_API.ipynb)\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`.\n\nThe body of the request should include:\n- `image`\n\nThe body may optionally include:\n- `texture_resolution`\n- `foreground_ratio`\n- `remesh`\n- `target_type`\n- `target_count`\n- `guidance_scale`\n- `seed`\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Output\nThe output is a binary blob that includes a glTF asset, including JSON, buffers, and images.\nSee the [GLB File Format Specification](https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html#glb-file-format-specification) for more details.\n\n### Credits\nFlat rate of 4 credits per successful generation. You will not be charged for failed generations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image to generate a 3D model from.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 4,194,304 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "texture_resolution": {
                    "type": "string",
                    "enum": [
                      "512",
                      "1024",
                      "2048"
                    ],
                    "default": "1024",
                    "description": "Determines the resolution of the textures used for both the albedo (color) map and the\nnormal map. The resolution is specified in pixels, and a higher value corresponds to a\nhigher level of detail in the textures, allowing for more intricate and precise rendering\nof surfaces. However, increasing the resolution also results in larger asset sizes, which\nmay impact loading times and performance. `1024` is a good default value and rarely requires\nchanging."
                  },
                  "foreground_ratio": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 2,
                    "default": 1.3,
                    "description": "Controls the amount of padding around the object to be processed within the frame. This\nratio determines the relative size of the object compared to the total frame size. A\nhigher ratio means less padding and a larger object, while a lower ratio increases the\npadding, effectively reducing the object’s size within the frame. This can be useful when\na long and narrow object, such as a car or bus, is viewed from the front (the narrow\nside). Here, lowering the foreground ratio might help prevent the generated 3D assets from\nappearing squished or distorted. The default value of `1.3` is good for most objects."
                  },
                  "remesh": {
                    "type": "string",
                    "enum": [
                      "none",
                      "triangle",
                      "quad"
                    ],
                    "default": "none",
                    "description": "Controls the remeshing algorithm used to generate the 3D model. The remeshing algorithm\ndetermines how the 3D model is constructed from the input image. The default value of\n\"none\" means that the model is generated without remeshing, which is suitable for most use\ncases. The \"triangle\" option generates a model with triangular faces, while the \"quad\"\noption generates a model with quadrilateral faces. The \"quad\" option is useful when the 3D\nmodel will be used in DCC tools such as Maya or Blender."
                  },
                  "target_type": {
                    "type": "string",
                    "enum": [
                      "none",
                      "vertex",
                      "face"
                    ],
                    "default": "none",
                    "description": "If set to `vertex` or `face`, the result will have approximately `target_count` many vertices or\nfaces in the simplified mesh, respectively."
                  },
                  "target_count": {
                    "type": "number",
                    "minimum": 100,
                    "maximum": 20000,
                    "default": 1000,
                    "description": "This sets the target vertex or face count defined by `target_type`. Selecting extremely low\ncounts reduces the quality of the mesh severely and values of 1,000 - 10,000 are recommended."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 3,
                    "description": "This sets the guidance scaling of the point diffusion module. Lower values produce less\ndetail and higher can introduce artifacts. The default of `3` produces best results."
                  },
                  "seed": {
                    "$ref": "#/components/schemas/Seed"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ModelGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/results/{id}": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Fetch async generation result",
        "description": "Fetch the result of a generation by ID.\n\nMake sure to use the same API key to fetch the generation result that you used to create the generation,\notherwise you will receive a `404` response.\n\n### How to use\nPlease invoke this endpoint with a `GET` request.\n\nThe headers of the request must include an API key in the `authorization` field and the ID\nof your generation must be in the path.\n\n### How is progress reported?\nYour generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`).\nWe may add more fine-grained progress reporting in the future (e.g. a numerical progress).\n\n### How long are results stored?\nResults are stored for 24 hours after generation. After that, the results are deleted.",
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/GenerationID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/AcceptResult"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation finished.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestID"
              },
              "content-type": {
                "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
                "examples": {
                  "jpeg": {
                    "description": "raw bytes",
                    "value": "image/jpeg"
                  },
                  "jpegJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/jpeg"
                  },
                  "png": {
                    "description": "raw bytes",
                    "value": "image/png"
                  },
                  "pngJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/png"
                  },
                  "webp": {
                    "description": "raw bytes",
                    "value": "image/webp"
                  },
                  "webpJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/webp"
                  }
                },
                "schema": {
                  "type": "string"
                }
              },
              "finish-reason": {
                "$ref": "#/components/headers/ImageFinishReason"
              },
              "seed": {
                "$ref": "#/components/headers/Seed"
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated jpeg"
              },
              "application/json; type=image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated png"
              },
              "application/json; type=image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated webp"
              },
              "application/json; type=image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              }
            }
          },
          "202": {
            "description": "Your generation is still in-progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/GenerationID"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in-progress"
                      ],
                      "description": "The status of your generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/GenerationNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/audio/stable-audio-2/text-to-audio": {
      "post": {
        "tags": [
          "Stable Audio 2"
        ],
        "summary": "Text-to-Audio",
        "description": "Stable Audio generates high-quality music and sound effects up to three minutes long at\n44.1kHz stereo from text descriptions. Learn how to craft effective prompts in our\n[Prompt Guide](https://www.stableaudio.com/user-guide/text-to-audio) to get the best results\nfrom your generations.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to\n[![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_Audio_API.ipynb)\nor try Stable Audio 2.0 for free at [stableaudio.com](https://stableaudio.com).\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`. The `accept` header should be set to one of the following:\n- `audio/*` to receive the audio in the format specified by the `output_format` parameter.\n- `application/json` to receive the audio encoded as base64 in a JSON response.\n\nThe body of the request should include:\n- `prompt` - text to generate the audio from. Check our\n[prompt guide](https://www.stableaudio.com/user-guide/text-to-audio) for tips\n\n#### **Optional Parameters:**\nThe body may optionally include:\n- `output_format` - the format of the output audio\n- `seed` - the randomness seed to use for the generation\n- `steps` - the number of sampling steps\n- `duration` - the number of seconds of the generated audio\n- `cfg_scale` - controls how strictly the diffusion process adheres to the prompt text (only for `stable-audio-2`)\n- `model` - the model to use [`stable-audio-2`, `stable-audio-2.5`]\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Credits\n\n**Stable Audio 2.0**\n\nBy default, 20 credits per successful generation. The number of credits is determined\nby the following formula: `credits = 17 + 0.06 * steps`.\n\nExamples:\n- 50 steps = 20 credits [default]\n- 100 steps = 23 credits\n\n**Stable Audio 2.5**\n\nRequests made using the Stable Audio 2.5 model have a flat rate of 20 credits per successful result.\n\nAs always, you will not be charged for failed generations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/AcceptAudio"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "What you wish the output audio to be. A strong, descriptive prompt that clearly defines\ninstruments, moods, styles, and genre will lead to better results.\n\nYou can make a prompt as simple or complex as you like. Simple prompts are good for clean\noutput audio. Complex prompts are good for adding texture and depth to the output audio.\n\n\nCheck our [prompt guide](https://www.stableaudio.com/user-guide/text-to-audio) for tips."
                  },
                  "duration": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 190,
                    "default": 190,
                    "description": "Controls the duration in seconds of the generated audio."
                  },
                  "seed": {
                    "$ref": "#/components/schemas/Seed"
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Controls the number of sampling steps.\n\n- For `stable-audio-2`: accepts steps between `30` and `100` (defaults to `50`).\n- For `stable-audio-2.5`: accepts steps between `4` and `8` (defaults to `8`)."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 25,
                    "description": "How strictly the diffusion process adheres to the prompt text (higher values make your\naudio closer to your prompt). \n\nDefaults to 7 for `stable-audio-2` and 1 for `stable-audio-2.5` if not specified."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "stable-audio-2.5",
                      "stable-audio-2"
                    ],
                    "default": "stable-audio-2",
                    "description": "The model to use for generation.\n\n- `stable-audio-2.5` requires 20 credits per generation\n- `stable-audio-2` requires 20 credits per generation"
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "mp3",
                      "wav"
                    ],
                    "default": "mp3",
                    "description": "Dictates the `content-type` of the generated audio."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AudioGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "422": {
            "$ref": "#/components/responses/AudioClassificationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/audio/stable-audio-2/audio-to-audio": {
      "post": {
        "tags": [
          "Stable Audio 2"
        ],
        "summary": "Audio-to-Audio",
        "description": "Stable Audio transforms existing audio samples into new high-quality compositions up to three minutes\nlong at 44.1kHz stereo using text instructions. Discover techniques for sample transformation in our\n[Audio to Audio Guide](https://www.stableaudio.com/user-guide/audio-to-audio) to maximize creative control.\nRead more about the model capabilities [here](https://stability.ai/news/stable-audio-2-0).\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to\n[![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_Audio_API.ipynb)\nor try Stable Audio 2.0 for free at [stableaudio.com](https://stableaudio.com).\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`. The `accept` header should be set to one of the following:\n- `audio/*` to receive the audio in the format specified by the `output_format` parameter.\n- `application/json` to receive the audio encoded as base64 in a JSON response.\n\nThe body of the request should include:\n- `prompt` - text to generate the audio from. Check our\n[prompt guide](https://www.stableaudio.com/user-guide/audio-to-audio) for tips\n- `audio` - the audio to use as the starting point for the generation\n\n> **Notes:**\n> - We do not allow copyrighted content to be uploaded to our platform.\n> - Maximum request size is 50Mb.\n\n#### **Optional Parameters:**\nThe body may optionally include:\n- `output_format` - the format of the output audio\n- `seed` - the randomness seed to use for the generation\n- `steps` - the number of sampling steps\n- `duration` - the number of seconds of the generated audio\n- `cfg_scale` - controls how strictly the diffusion process adheres to the prompt text (only for `stable-audio-2`)\n- `model` - the model to use [`stable-audio-2`, `stable-aud
[...]
