/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page protobufreleasehistory protobuf Module Release Notes

    @tableofcontents

    @section protobuf_3_0 protobuf Module Version 3.0
    - initial release
*/
